.input-wrapper {
  display: flex;
  flex-direction: column;

  &.inline-label {
    flex-direction: row;
    align-items: center;

    .label {
      margin-bottom: 0;
      margin-right: 8px;
    }
  }

  .label {
    display: inline-block;
    margin-bottom: 8px;
    font-size: 13px;
  }

  input {
    padding: 6px 8px;
  }

  &--error {
    input,
    input:hover {
      border-color: red;
    }
  }

  &--number {
    & > div {
      width: auto;
    }
  }

  &--checkbox {
    display: block;

    .ant-checkbox-inner {
      width: 20px;
      height: 20px;
    }
  }

  &--date-time {
    & > div {
      display: flex;

      & > div:first-child {
        flex-grow: 1;
        margin-right: 5px;
      }
    }
  }
}
