.document-browser {
  button:focus {
    outline: none;
  }

  .related-document-item {
    display: flex;
    align-items: center;
    border-top-width: 1px;
    margin-bottom: 5px;

    &:focus {
      background: inherit;
    }
  }
}

.document-processing-modal {
  .input-registry-wrapper {
    &:not(:first-child) {
      margin-top: 10px;
    }
  }

  .tab-content-wrapper {
    margin-top: 10px;
  }
}
